<nav class="navbar navbar-expand-md sticky-top">
  
        <a class="navbar-brand" [routerLink]="['home']"> <img src="../../assets/images/because-light.png"></a>
        <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="becauseNav" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="becauseNav" [ngbCollapse]="isCollapsed">
          <ul class="navbar-nav">
                <li class="nav-item" [routerLinkActive]="'isActive'">
                        <a class="nav-link" [routerLink]="['strategy']" [routerLinkActive]="'isActive'">
                                CSR
                            </a>
                  </li>
                  <li class="nav-item" [routerLinkActive]="'isActive'">
                        <a class="nav-link" [routerLink]="['stories']" [routerLinkActive]="'isActive'">
                                MARKETING
                              </a>
                  </li>
                  <li class="nav-item" [routerLinkActive]="'isActive'">
                        <a class="nav-link" [routerLink]="['impact']" [routerLinkActive]="'isActive'">
                                IMPACT
                              </a>
                  </li>
                  <li class="nav-item" [routerLinkActive]="'isActive'">
                        <a class="nav-link" [routerLink]="['profile']" [routerLinkActive]="'isActive'">
                                PROFILE
                              </a>
                  </li>
           
          </ul>         
        </div>
      </nav>

