.navbar {   
    display: flex;
    justify-content: space-evenly;
    padding: 16px;
    font-family: sans-serif;
    background-color: white;
    color: #242b2a;
    font-family: OpenSans-SemiBold;
    font-size: .9em;
  }
.navbar-link{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-right: 8px;
    font-family: OpenSans-SemiBold;  
}

.navbar-link a{
    text-decoration: none;
    color: #242b2a;
}

.navbar-link a:visited{
    color: #242b2a;
}
.navbar-link a:hover{
    color:#9e005d;
    text-decoration: underline;
}

.navbar-link a.isActive{
    color:#9e005d
}