<div class="navbar">
  <div class="navbar-link brand">
    <a [routerLink]="['home']">
      <img src="../../assets/images/because-official-logo_4.png">
    </a>
   
  </div>
  <div class="navbar-link" >
      <a [routerLink]="['strategy']">
          Strategy
      </a>
   
  </div>
  <div class="navbar-link" >
      <a [routerLink]="['stories']">
          Stories
        </a>
    
  </div>
  <div class="navbar-link">
      <a [routerLink]="['campaigns']">
          Campaigns
        </a>
   
  </div>
  <div class="navbar-link" >
      <a [routerLink]="['impact']">
          Impact
        </a>
    
  </div>
  <div class="navbar-link" >
      <a [routerLink]="['profile']">
          Profile
        </a>
   
  </div>
</div>
