.navbar {   
    display: flex;
    justify-content: space-evenly;
    padding: 16px;
    font-family: sans-serif;
    background-color: #e8eae3;
    color: white;
    font-family: Ti-Regular;
  }
.navbar-link{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-right: 8px;
    font-family: Ti-Regular;  
    font-size: 1.2em;  
}

.navbar-link a{
    text-decoration: none;
    color:#000000
}

.navbar-link a:visited{
    color:#000000
}
.navbar-link a:hover{
    color:#9e005d;
    text-decoration: underline;
}

.navbar-link a.isActive{
    color:#9e005d
}