<div class="navbar">
  <div class="navbar-link brand">
    <a [routerLink]="['home']">
      <img src="../../assets/images/because-official-logo_4.png">
    </a>
   
  </div>
  <div class="navbar-link" >
      <a [routerLink]="['strategy']" [routerLinkActive]="'isActive'">
          CSR
      </a>
   
  </div>
  <div class="navbar-link" >
      <a [routerLink]="['stories']" [routerLinkActive]="'isActive'">
          MARKETING
        </a>
    
  </div> 
  <div class="navbar-link" >
      <a [routerLink]="['impact']" [routerLinkActive]="'isActive'">
          IMPACT
        </a>
    
  </div>
  <div class="navbar-link" >
      <a [routerLink]="['profile']" [routerLinkActive]="'isActive'">
          PROFILE
        </a>
   
  </div>
</div>
