/********* Circle Pie ***********/
$circle-diameter: 150px;
$circle-border-width: 10px;
$circle-background-color: #fff;
$circle-border-color-remaining: #c0dff9;
$circle-border-color-elapsed: #65aeed;

.pie {
  width: $circle-diameter;
  height: $circle-diameter;
  //display: block;
  border-radius: 50%;
  background-color: $circle-border-color-elapsed;
  //position: relative;
  border: none;
  margin: 0 auto 30px auto;
  display: flex;
  position: relative;
  align-items: center;
  justify-content:center;

  &:after {
    display: none;
  }

  
  &:before {
    display: block;
    position: absolute;
    top: $circle-border-width;
    left: $circle-border-width;
    height: $circle-diameter - 2*$circle-border-width;
    width:  $circle-diameter - 2*$circle-border-width;
    line-height:  $circle-diameter - 2*$circle-border-width;
    background: $circle-background-color;
    border-radius: 50%;
    font-size: 1.4em;
    text-align: center;
    content: " ";
   
  } 

  .label{
    position:relative;
    align-items: center;
    justify-content:center;
    z-index: 1000;
    

    .percentage{
        text-align: center;
        font-size: 23px;
        font-weight: 500;
    }
    .unit{
        text-align: center;
        font-size: 14px;
    }
  }

  // loop to rotate first 50 percent
  @for $j from 1 through 50 {
    &.p#{$j} {
      background-image:
        /* 10% = 126deg = 90 + ( 360 * .1 ) */
        linear-gradient(90deg+(360*0.01*$j), transparent 50%, $circle-border-color-remaining 50%),
        linear-gradient(90deg, $circle-border-color-remaining 50%, transparent 50%); // remove highlight at the bottom half of the border/circle

     /*  &:after {
        content: "#{$j}%";
      } */
    }
  }
  
  @for $j from 51 through 100 {
    &.p#{$j} {
      background-image:
        linear-gradient(90deg, transparent 50%, $circle-border-color-elapsed 50%), // highlight the right half of the border/circle
        /* 90% = 54deg = -90 + (360*0.01*($j - 50) */
        linear-gradient(-90deg+(360*0.01*($j - 50)), transparent 50%, $circle-border-color-remaining 50%);

     /*  &:after {
        content: "#{$j}%";
      } */
    }
  }
}
/********* End Circle Pie ***********/
