<div class="stories-page">
  <div class="row">
    <div class="col-12 breadcrumb">
      <a href="#">CSR</a> | Stories
    </div>
  </div>
    <div class="row">
        <div class="col-12">
           <button type="button">New Story</button>
          </div>
      <div class="col-12">
          <h3>Stories</h3>
        </div>
        <div class="col-12">
          <table class="table">
            <thead>
    <th>Name</th>
    <th>Initiative</th>
    <th>Content Type</th>
    <th>Active Campaign</th>
            </thead>
            <tbody>
              <tr>
                <td>5,000 Gallons Water</td>
                <td>Reducing Water Waste</td>
                <td>Data Entry</td>
                <td>Yes</td>
              </tr>
              <tr>
                  <td>New Garden for Boston Family</td>
                  <td>Reducing Water Waste</td>
                  <td>Planting Life</td>
                  <td>No</td>
                </tr>
                <tr>
                    <td>Fitzgerald High Cleanup</td>
                    <td>Land Preservation</td>
                    <td>Picture/Video</td>
                    <td>No</td>
                  </tr>
                  <tr>
                      <td>50% Less Harmful Materials</td>
                      <td>Sustainable Materials</td>
                      <td>Data Entry</td>
                      <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Rebuilding Schools</td>
                        <td>School Education</td>
                        <td>Audio</td>
                        <td>No</td>
                      </tr>
            </tbody>
          </table>
        </div>
    </div>
</div>

