<div class="csr-page">
<div class="row">
  <div class="col-12">
    <h3>CSR Pillars</h3>
  </div>
  <div class="col-md-4">
    <div class="circle-panel">
      <div class="circle-label">
        Education
      </div>
    </div>
  </div>
  <div class="col-md-4">
      <div class="circle-panel">
          <div class="circle-label">
            The Environment
          </div>
        </div>
  </div>
  <div class="col-md-4">
      <div class="circle-panel">
          <div class="circle-label">
            Physical Activity
          </div>
        </div>
  </div>
</div>
<div class="row">
    <div class="col-12">
        <h3>CSR Initiatives</h3>
      </div>
      <div class="col-12">
        <table class="table">
          <thead>
<th>Name</th>
<th>Type</th>
<th>Status</th>
<th>Open to Public</th>
          </thead>
          <tbody>
            <tr>
              <td>Teach STEM in Boston</td>
              <td>Volunteer</td>
              <td><mat-slide-toggle></mat-slide-toggle></td>
              <td>Yes</td>
            </tr>
            <tr>
                <td>Science Equipment Fundraiser</td>
                <td>Donation Drive</td>
                <td><mat-slide-toggle></mat-slide-toggle></td>
                <td>Yes</td>
              </tr>
              <tr>
                  <td>Teaching Art</td>
                  <td>Other Event</td>
                  <td><mat-slide-toggle></mat-slide-toggle></td>
                  <td>No</td>
                </tr>
                <tr>
                    <td>Rebuilding Schools</td>
                    <td>Volunteer</td>
                    <td><mat-slide-toggle></mat-slide-toggle></td>
                    <td>Yes</td>
                  </tr>
                  <tr>
                      <td>Kennedy High</td>
                      <td>Grant</td>
                      <td><mat-slide-toggle></mat-slide-toggle></td>
                      <td>No</td>
                    </tr>
          </tbody>
        </table>
      </div>
</div>
</div>
