<div class="main-content">
  <h1>
    Because ... proving the <em class="pink">impact</em> of giving back
  </h1>
  <h2>
    Playing with typography
  </h2>
  <h3>
    Look and feel, <em class="green">colors ...</em>
  </h3>
  <div>
    <p>
      Thought leader shared vocabulary, communities impact investing vibrant design thinking radical triple bottom line. Society, move the needle, engaging social return on investment capacity building capacity building black lives matter B-corp mobilize. Improve the world silo, ideate collaborate and improve the world citizen-centered. Technology, program areas ecosystem change-makers B-corp issue outcomes humanitarian green space incubator.
    </p>
  </div>
  <div>
    <img src="../../assets/images/c4.png">
  </div>
</div>


